body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {

	font-size: 26px; 
}




p {
	color: #000080;
	font-size: 20px;
}



